<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News App</title>
</head>
<body>
    <!-- <table>
        <tr class="" th:each="news:${newsList}">
            <td th:text="${news.id}"></td>
            <td th:text="${news.headline}"></td>
            <td th:text="${news.author}"></td>
            <td th:text="${news.content}"></td>
            <td th:text="${news.publicationMoment}"></td>
        </tr>
    </table> -->
    <!-- <table>
        <tr class="" th:each="news: ${newsList}">
            <td th:text="${news.id}"></td>
            <td th:text="${news.headline}"></td>
            <td th:text="${news.author}"></td>
            <td th:text="${news.content}"></td>
            <td th:text="${news.publicationMoment}"></td>
        </tr>
    </table> -->
    <!-- <ul th:each="news: ${newsList}">
        <li th:text="${news}"></li>
    </ul> -->
    <p th:text="${newsList}"></p>

    <!-- <tr th:each="student: ${students}">
        <td th:text="${student.id}" />
        <td th:text="${student.name}" />
    </tr> -->
</body>
</html>